.header{
    gap:3rem;
    margin: 3rem auto 5rem auto;
    text-align: center;
    font-size: 1.rem;
    max-width: 75rem;
    width: 90%;
    color: #ddd6cb;
}

.header h1{
    font-family: 'Montserrat', sans-serif;
}

.highlight {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main{
    text-align: center;
    width:90%;
    max-width: 40rem;
    margin:0rem auto;
  }

  .main h2{
    font-family: 'Montserrat', sans-serif;
    color:#ddd6cb;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .perks{
    list-style: none;
    padding:0;
    margin:3rem 0;
  }

  .perks li{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
  }

  .perks img{
    width:8rem;
    height:8rem;
    object-fit: contain;
  }

  .perks p{
    font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #ddd6cb;
  }